/* Верстка sidebar */

/* body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em;
  background-color: #fff;
} */

.dashboard {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 100px;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
}

.sidebarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 13px;
}

.sidebarBody {
  flex: 1;
}
