body {
  font-style: Arial, sans-serif;
  margin: 0;
}

time {
  color: rgb(216, 75, 98);
}

button {
  cursor: pointer;
  border: none;
  color: rgb(90, 88, 200);
  border-radius: 4px;
}

.login-button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  font-size: 16px;
}

.login-button:hover {
  background: #45a049;
}
