/* Верстка страницы логина и пароля */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.login-container {
  border-radius: 8px;
  padding: 50px 50px;
  background-color: #e5e4e4;
}

.login-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-button {
  padding: 10px 61px;
  background: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background: #45a049;
  transform: scale(1.05);
}
