body {
  font-style: Arial, sans-serif;
  margin: 0;
}

.login-button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  font-size: 16px;
}

.login-button:hover {
  background: #45a049;
}
